<!-- <div ng-controller="LoginController as loginCtrl">
 --><div class="row">
	<div class="col-md-8" id="regdiv">
		<p id="p3">Secrets</p>
		<p id="p4">Login Now!</p>
		<form action="/loginnow" method="POST">
			<div id="inputdiv">
			<input type="text" name="username" ng-model="username" placeholder="Enter Your Username"><br>
			<input type="password" name="password" ng-model="password" placeholder="Enter Your password"><br>
			</div>
			<button id="but3" type="submit">Login</button>
		</form>
	</div>
	<div class="col-md-4">
		<div id="buttondiv">
		<p id="p5">New to Secrets?</p>
		<button ui-sref="signup" id="but1">Sign Up</button>
		<p id="p5">Already Have an Account?</p>
		<button ui-sref="login" id="but2">Login</button>
		</div>
	</div>
</div>
<!-- </div> -->