<link rel="stylesheet" href="css/userpage.css">
<div class="heading"></div>
<div class="sidemenu">
	<div class="options">
		<div><a href="/getHomePage" id="option">Home</a></div>
		<div><a href="/getMyPostsPage" id="option">My Posts</a></div>
		<div><a href="/#/userpage/newpost" id="option">Share A New Secret</a></div>
		<div><a href="/logout" id="option">Logout</a></div>
	</div>
</div>

<div id="header" ng-controller="searchController as searchCtrl">
	<p>SECRETS</p>
	<div id="search-div">
	<form action="/getSearchPage" method="POST">
		<input type="text" placeholder="Search Posts by Tags..." name="query" ng-model="searchCtrl.query"  autocomplete="off">
		<button type="submit" name="subbut3"><img src="images/search.png"></button>
	</form>
	</div>
	<div id="matches">
		<div ng-repeat="item in searchCtrl.alltags">
		<form action="/getSearchPage" method="POST" ng-if="item.includes(searchCtrl.query) && searchCtrl.query" style="margin: 0px;">
			<input type="text" name="query" value="{{item}}" style="display: none;">
			<button type="submit" id="match"><div>{{item}}</div></button>
		</form>
		</div>
	</div>
</div>

<ui-view></ui-view>